# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/out/build/x64-Debug
/out/build/x64-Debug (default)
/doc/lesson1/.vs/lesson1/v16/ipch/AutoPCH/f5d3d7992ca93e38/EXE_COMMON.ipch
/doc/lesson1/.vs/lesson1/v16/.suo
/doc/lesson1/.vs/lesson1/v16/Browse.VC.db
/doc/lesson1/.vs
